.profileCard{
    border-radius: 15px;
    border: 10px;
    box-shadow: 2px 2px 5px #999;
    width: 300px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.profileCard__background{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius:15px 15px 0px 0px ;
}

.profileCard__image{
    border-radius: 50%;
    height: 150px;
    margin: -75px;
    box-shadow: 0px 7px 7px #999;
}

.profileCard__title{
    margin-top: 75px;
}
