.card{
    position: absolute;
    width: 1190px;
    height: 315px;

    background-color: #00B1A0D9;
    border-radius: 15px;
    border: 20px;
    box-shadow: 0px 20px 25px #999;
    width: 80%;
    text-align: center;
}

.card__text{
    float: left;
    width: 50%;
    
    font-family: 'Poppins';
    font-size: 16px;
}